@mixin buttonSizer {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    font-size: 50px;
}

#corpo {
    text-align: center;
    margin: auto;
    width: 300px;


    #c1l1 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
    }

    #c2l1 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
    }

    #c3l1 {
        @include buttonSizer();
        border-top: 10px;
        border-right: 10px;
        border-left: 10px;

    }

    #c1l2 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
    }

    #c2l2 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
    }

    #c3l2 {
        @include buttonSizer();
        border-top: 10px;
        border-right: 10px;
        border-left: 10px;
    }

    #c1l3 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
        border-bottom: 10px;
    }

    #c2l3 {
        @include buttonSizer();
        border-top: 10px;
        border-left: 10px;
        border-bottom: 10px;
    }

    #c3l3 {
        @include buttonSizer();
        border-top: 10px;
        border-right: 10px;
        border-left: 10px;
        border-bottom: 10px;
    }
}